body {
    background-color: #f0f4f9;
    font-family: "Open Sans", sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 40%;
    margin: 30px auto;
    border: 1px solid #dadee3;
    border-radius: 5px;
}

h1 {
    margin: 0 0 10px 0;
}

/* Inset, by Dan Eden */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.upload {
    width: 100%;
    background-color: #FAFAFA;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgba(0, 0, 0, 0.08);
    height: 100px;
    font-size: 1.2em;
    border-radius: 10px;
}

.upload i {
    margin-right: 5px;
}

small {
    color: rgba(0, 0, 0, 0.55);
    font-size: 0.7em
}