<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO-ETL</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/css.css">

    <script src="js/dropzone.js"></script>

</head>
<body>
<div class="container">
    <h1>Step 1
        <small>Upload your spreadsheet</small>
    </h1>
    <hr>

    <form action="/file-upload"
          class="dropzone upload"
          id="my-awesome-dropzone">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    </form>


</div>
</body>
</html>